---
# Only the main Sass file needs front matter (the dashes are enough) 
---
@charset "utf-8";

// css variables
html {
    background: var(--background-color);
    --text-color: #111;
    --background-color: #fdfdfd;

    --link-color: #2a7ae2;
    --darken-link-color: #1b66c8; // visited link color
    --inline-code-bgcolor:rgba(175,184,193,0.2); // inline code background color
    
}

html[data-theme='dark'] {
    background: var(--background-color);
    --text-color: rgb(221, 218, 214);
    --background-color: rgb(25, 27, 28);

    --link-color: #3d95e5;
    --darken-link-color: #1d7fd9;
    --inline-code-bgcolor: rgba(110,118,129,0.4);

}

// scss variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: var(--text-color);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
"layout",
"song"
;