---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// css variables
html {
  background-color: var(--background-color);

  scroll-behavior: smooth;
  --text-color: #111;
  // --background-color: #fdfdfd;
  --background-color: #fff;

  --link-color: #2a7ae2;
  --darken-link-color: #1b66c8; // visited link color
  --inline-code-bgcolor: rgba(
    175,
    184,
    193,
    0.2
  ); // inline code background color
}

html[data-theme="dark"] {
  background-color: var(--background-color);
  // transition: background 1s ease-in-out, color 1s ease-in-out,
  //   background-color 1s ease-in-out;
  // --text-color: rgb(221, 218, 214);
  --text-color: #ccc;
  --background-color: rgb(25, 27, 28);
  // --background-color: #2a2d2f;

  --link-color: #3d95e5;
  --darken-link-color: #1d7fd9;
  --inline-code-bgcolor: rgba(110, 118, 129, 0.4);
}

// scss variables
$base-font-family: Noto Sans, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: var(--text-color);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

// when on phone
$on-palm: 600px;

// sidebar width
$side-width: 240px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "song", "toc", "searchbar", "scrollbar";
