---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% assign posts_by_modify = site.posts | sort:'modify' | reverse %}
    {% for post in posts_by_modify%}
    <li>
      <span class="post-meta">{{ post.modify | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {% if post.description != "" %}
      <i>{{ post.description }}</i>
      <br>
      {% endif %}

      <span> [
        {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}">
          <nobr>{{tag_name}}</nobr>
        </a>
        {% endfor %}
        ]</span>
    </li>
    {% endfor %}
  </ul>

</div>