/**
 * Site header
 */
.site-header {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-color);
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: var(--grey-color-dark);
  }
}

.terminal {
  z-index: 10;
}
.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;
    margin-right: 20px;
  }

  @include media-query($content-width) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: var(--background-color);
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    z-index: 99;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 33px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
    }

    .page-links {
      clear: both;
      display: none;
    }

    &:hover .page-links {
      display: block;
      padding-bottom: 1px;
      background-blend-mode: screen;
      animation: growDown 500ms ease-in-out forwards;
      transform-origin: top right;
    }

    // dropdown menu animation
    @keyframes growDown {
      0% {
        transform: scaleY(0);
      }
      // 80% {
      //     transform: scaleY(1.1)
      // }
      100% {
        transform: scaleY(1);
      }
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      margin-right: 0;
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  display: flex;
  justify-content: space-between;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    display: flex;
    flex-direction: column;
  }
  .footer-col {
    float: none;
    margin-bottom: $spacing-unit / 10;
  }
}

.wrapper {
  width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  // @extend %clearfix;
  flex-shrink: 0;

  @include media-query($content-width) {
    width: 100%;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 32px;

    @include media-query($content-width) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 26px;

    @include media-query($content-width) {
      font-size: 22px;
    }
  }

  h3 {
    font-size: 20px;

    @include media-query($content-width) {
      font-size: 18px;
    }
  }
}

#toc-wrapper {
  border-left: 1px solid $grey-color-light;
  width: $side-width;
  position: -webkit-sticky;
  position: sticky;
  top: 95px;
  align-self: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 9rem);

  @include media-query($content-width) {
    font-size: 18px;
  }
}

.invisible-box {
  width: $side-width;
  visibility: hidden;
  flex-shrink: 1;
}

@media (max-width: $content-width) {
  #toc-wrapper {
    visibility: hidden;
  }

  .invisible-box {
    visibility: hidden;
  }
}

// make sure when user clicks anchor links, the section header won't disappear behind sticky top navigation bar.
[id] {
  scroll-margin-top: 80px; // 1
}
