blockquote.song {
    color: #404040;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga" 1, "pnum" 1, "kern" 1;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: Optima-Regular, "Source Han Serif SC", Manuale, "Consolas", "Noto Serif CJK SC", STFangsong, FangSong, FangSong_GB2312, "Songti SC", STSong, serif, PingFangSC-Light, PingFangTC-Light, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
    font-size: 100% !important;
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.778;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    margin-top: 1.35em;
    margin-bottom: 1.35em;
    background: #fafafd;
    padding-top: 16px;
    border-left: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    border-left: solid 3px #5f6867;
    width: fit-content
}

blockquote.song p {
    font-size: 22px;
    overflow-wrap: break-word;
    word-break: break-word;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 1em;
    color: #888;
    line-height: 1.6 !important;
    text-align: start;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    _writing-mode: tb-rl;
    min-height: 380px;
    height: auto;
    overflow: auto;
}

/* 古诗文标题 */
blockquote.song tt {
    font-family: Optima-Regular, "Source Han Serif SC", Manuale, "Consolas", "Noto Serif CJK SC", STFangsong, FangSong, FangSong_GB2312, "Songti SC", STSong, serif, PingFangSC-Light, PingFangTC-Light, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
    font-size: 24px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.2em;
    font-weight: 450;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
}

/* 作者 */
blockquote.song at {
    display: flex;
    color: #919191;
    padding-top: 4em;
    padding-bottom: 1.5em;
}



